a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

body {
    background-color: #111111;
}

/* Header style*/

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.main-header {
    background-color: #2b2828;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    margin: -10px;
}

.main-header *{
    display: inline-block;
}

.logo {
    position: absolute;
    left: 8%;
}

.logo-description {
    position: absolute;
    left: 12%;
}

.logo-description > .VL {
    color: #e2b552;
    font-weight: bold;
}

.navigation {
    position: absolute;
    left: 50%;
    translate: -50%;
}

.navigation li:not(:last-child) {
    padding-right: 10px;
}

.navigation a {
    
}

/* WHat is thi, lol*/
/* idk how animate text color and underline at the same time*/

.navigation a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: auto;
    height: 2px;
    bottom: 0;
    left: auto;
    background-color: rgb(230, 183, 55);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s ease;
}

.navigation a:hover {
    color: transparent;
    background: rgb(230, 183, 55);
    background-clip: text;
    /*text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(230, 183, 55);*/
    transition: all 1s;
}

.navigation a:hover::before {
    transform: scaleX(1);
}

.button {
    position: absolute;
    right: 8%;
    color: #000000;
    background: linear-gradient(to right, #FFD900, #FB9300);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

/* begin styling */

.begin {
    background-color: #FFFFFF;
}
.begin li {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 5px 10px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, #FFD900, #FB9300) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.begin ul {
    display: inline-block;
    position: absolute;
    left: 50%;
    translate: -50%;
}

.begin span {
    color: transparent;
    background: linear-gradient(to right, #FFD900, #FB9300);
    background-clip: text;
}